<a href="https://colab.research.google.com/github/lsb3051/leesubin/blob/main/%ED%95%80%ED%85%8C%EC%BB%A4%EC%8A%A4_230906.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 잔돈 자판기
price = int(input("상품가격은? "))
money = int(input("지불가격은? "))

change = money - price
coin_500 = change//500  #몫을 구한다. 500원이 몇개가 필요한지 알려고
change = change % 500    #500원 2개 주고 남은 나머지

coin_100 = change//100
change = change % 100

coin_50 = change//50
change = change % 50

coin_10 = change//10
change = change % 10

print(f'500원: {coin_500}개, 100원: {coin_100}개, 50원: {coin_50}개, 10원: {coin_10}개')
# 500, 100, 50, 10 각 동전을 몇개씩 줘야 하는가?
# 거슬러 줄 때는 가장 큰 동전 먼저 줘야함, (화폐단위가 큰)

상품가격은? 12000
지불가격은? 13000
500원: 2개, 100원: 0개, 50원: 0개, 10원: 0개

In [ ]:
#이중포문

list1 = [1,2,3]
list2 = [4,5,6]
for num1 in list1 :
  print('------')
  for num2 in list2:
    print(num1,num2)

------
1 4
1 5
1 6
------
2 4
2 5
2 6
------
3 4
3 5
3 6

In [ ]:
#최대값,
list1 = [1,24,3,44,1000,2,0,74]
result = 0
for i in list1:
  if i > result:
    result = i
print(i)

74

In [ ]:
#함수
def sum(num1, num2):
  result = num1 + num2
  return result

7

In [ ]:
sum(5, 5555)

5560

In [ ]:
#입력값 없이 함수 가능
def say():
  return 'Hi'
say()

'Hi'

In [ ]:
def sum2(num1, num2):
  print(f'{num1+num2}')

sum2(4,5)

9

In [ ]:
### 함수안에 이렇게도 가능 신기 ㄷㄷ
sum(num1 = 3, num2 = 0)

3

In [ ]:
def say_myself(name, old, man = True):      #기본값 설정 항상 끝에 작성해야한다.
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 나이는 {old}살 입니다.')
  if man :  # man이 트루일때
    print('남자')
  else :
    print('여자')

say_myself('홍길동',2)
say_myself('박명순',2,False)
say_myself(old = 10, name = '뽀로로')

나의 이름은 홍길동입니다.
나의 나이는 2살 입니다.
남자
나의 이름은 박명순입니다.
나의 나이는 2살 입니다.
여자
나의 이름은 뽀로로입니다.
나의 나이는 10살 입니다.
남자

In [ ]:
def test():
  local_var = 20
test()

In [ ]:
# 함수결과값을 쓰고 싶다면
def test2():
  local_var = 20
  return local_var
a= test2()
print(a)

#global 쓰면 전역변수처럼 쓸 수 있지만, 선호하지 말자. .

20

In [ ]:
from ast import arg
##
def means(*args):
  sum1 = 0
  count1 = 0
  for i in args:   #튜플로 들어온다.
    sum1 = sum1 + i
    count1 = count1 + 1
  avg = sum1/count1
  return avg
print(means(1,2,3))

2.0

In [ ]:
def cal(num1,num2):
  sum = num1+num2
  min = num1-num2
  mul = num1*num2
  div = num1//num2
  print(f'입력받음 num1: {num1} num2: {num2}')
  print(f'더하기 : {sum}')
  print(f'빼기 : {min}')
  print(f'곱하기 : {mul}')
  print(f'나누기 : {div}')
  return sum,min,mul,div

cal(5,3)

입력받음 num1: 5 num2: 3
더하기 : 8
빼기 : 2
곱하기 : 15
나누기 : 1

(8, 2, 15, 1)

In [ ]:
def cal1():
  num1 = int(input('첫번째 숫자 입력 : '))
  num2 = int(input('두번째 숫자 입력 : '))
  return num1*num2, num1-num2, num1*num2, num1/num2
cal1()

첫번째 숫자 입력 : 50
두번째 숫자 입력 : 10

(500, 40, 500, 5.0)

result1, result2 인스턴스 라고 함,

In [ ]:
result1 = 0
result2 = 0
def adder1(num):
  global result1
  result1 += num
  return result1
def adder2(num):
  global result2
  result2 += num
  return result2

# 클래스 = 설계도면, 클래스로 만든게 인스턴스,
# 속성(result)은 위에서 가지는 객체 특징상태, 변수 혹은
집종류, 몇평 = 속성

붕어빵 틀 = 클래스
붕어빵 만든 결과 = 인스턴스 (덜익거나, 잘익거나 , 타거나) = 객체
붕어빵 속재료( 피자,고구마,슈크림,팥 ) = 속성 정해줄 수 있다.
피자붕어빵의 속성값은 피자

In [ ]:
class 붕어빵:
  def __init__(self):
    self.속재료 = None

In [ ]:
피자붕어빵 = 붕어빵()
피자붕어빵.속재료 = '피자'

팥붕어빵 = 붕어빵()
팥붕어빵.속재료 = '팥'

#클래스 만들기

In [ ]:
class FourCal:
  def set_data(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

a = FourCal()  #a는 인스턴스
a.set_data(10,20) #a 인스턴스에 set_data 메서드 사용,
print(a.num1, a.num2)
print(a.add())

10 20
30

In [ ]:
class FourCal:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def minus(self):
    return self.num1 - self.num2

  def mul(self):
    return self.num1 * self.num2

  def divide(self):
    return self.num1 / self.num2

a = FourCal(10,20)
print(a.num1, a.num2)
print(a.add())

10 20
30

In [ ]:
class BankAccount1:
  def __init__(self, account, name, first_Money):
    self.account = account
    self.name = name
    self.first_Money

  def plus_Deposit(self):
    sum_deposit = self.first_Money + self.plus_Deposit
    return sum_deposit

  def minus_Deposit(self):
    return self.first_Money - self.minus_Deposit

  def now_Deposit(self):
    return

In [ ]:
# 선생님클래스
class BankAccount:
  def __init__(self, 계좌번호, 이름, 잔액):
    self.계좌번호 = 계좌번호
    self.이름 = 이름
    self.잔액 = 잔액

  def 입금(self, 금액):
    self.잔액 = self.잔액 + 금액

  def 출금(self, 금액):
    self.잔액 = self.잔액 - 금액

  def 잔액조회(self):
    print(f'{self.이름}님의 잔고는 {self.잔액}원 입니다.')

최진영계좌 = BankAccount('123-456-789', '최진영', 50000)
홍길동계좌 = BankAccount('444-444-444', '홍길동', 100000)

print(최진영계좌.잔액)
최진영계좌.입금(50000)
print(최진영계좌.잔액)
최진영계좌.출금(30000)
print(최진영계좌.잔액)
최진영계좌.잔액조회()

50000
100000
70000
최진영님의 잔고는 70000원 입니다.

#상속

In [ ]:
class MoreFoureCal(FourCal):
  def divide(self):
    if(self.num2 == 0):
      return 0
    else :
      return self.num1 / self.num2

a = MoreFoureCal(2,0)
a.divide()            #부모꺼를 새로 덮어쓰기로 만들어 낼 수 있다. 부모자체를 고칠 수도 있다.

0